html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header style */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .7s all;
    padding-bottom: 20px;
}

.header_active {
    background: #0E1D28;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
    list-style-type: none;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: aquamarine;
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
}

.burger__line-first {
    top: 0;
}

.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-third {
    bottom: 0;
}

/*Intro style */

.intro {
    min-height: 100vh;
    background: url(./image/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: url(./image/svg/Oval.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
}

.search-form__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    background: #1B7DFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    transition: 0.3s;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
    background: #0562dd;
    transition: 0.3s;
}

/*Benefits style */

.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    position: relative;
    max-width: 1262px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 93px 100px 88px 100px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    transform: translateY(-100%);
    background: #FFFFFF;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block;
    width: 66px;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: auto 0 26px 0;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(./image/svg/Shape.svg) no-repeat 95% center;
    transition: 0.3s all; 
}

.benefits__card-more:hover,
.benefits__card-more:focus {
    background: url(./image/svg/Shape.svg) no-repeat right center;
}

/*Places style */

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    border: 2px solid #006DFE;
    width: 252px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.places__view-all {
    display: inline-block;
    padding-right: 59px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(./image/svg/Shape.svg) no-repeat right center;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-img {
    transform: scale(1.1);
}

.places__card-bg {
    grid-column: span 3;
}

.places__card-sml {
    grid-column: span 2;
}

.places__card-img {
    width: 100%;
    transition: 0.2s all;
}

.places__card-img-bg {
    height: 100%;
    object-fit: cover;
}

.places__card-img-sml {
    height: 100%;
    object-fit: cover;
}

.places__card-title {
    position: absolute;
    bottom: 27px;
    left: 29px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    z-index: 5;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

/*Tours style */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-right: 47px;
}

.tour__info-left {
    padding-left: 47px;
}

.tours__tour:last-child {
    margin-bottom: 139px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__title-left {
    margin-bottom: 45px;
}

.tour__text {
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__text-left {
    margin-bottom: 94px;
}

.tour__link {
    padding-right: 59px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(./image/svg/Shape.svg) no-repeat right center;
}

/*TopPlaces style */

.topPlaces {
    margin-bottom: 144px;
}

.topPlaces__title {
    margin-bottom: 55px;
}

.topPlaces__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
}

.topPlaces__card {
    display: flex;
    flex-direction: column;
    /* grid-column: span 3; */
}

.topPlaces__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.topPlaces__card-stat {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 25px;
    bottom: 3px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
}

.topPlaces__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.topPlaces__card-likes {
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(./image/svg/like.svg) no-repeat right;
    margin-right: 14px;
}

.topPlaces__card-mess {
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(./image/svg/mess.svg) no-repeat right;
}

.topPlace__card-text {
    line-height: 24px;
    margin-bottom: 43px;
}

.topPlace__card-btn {
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    transition: 0.3s;
    width: max-content;
}

.topPlace__card-btn:hover,
.topPlace__card-btn:focus {
    background: #0562dd;
    transition: 0.3s;
}

/*Video style*/

.video {
    width: 100%;
}

.video__wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Footer style */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu {
    list-style-type: none;
}

.footer__menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu-link {
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .4s;
}

.footer__menu-link:hover,
.footer__menu-link:focus {
    color: #0562dd;
    transition: .4s;
}

/* Media */

@media screen and (max-width: 960px) {
    .search-form__field {
        margin-bottom: 25px;
    }
    .benefits {
        margin-bottom: 0;
    }
    .benefits__wrap {
        box-shadow: none;
    }
    .benefits__title {
        padding: 70px 15px;
    }
    .benefits__cards {
        padding: 0 15px;
        grid-column-gap: 30px
    }
    .tours {
        margin-bottom: 0;
    }
    .tours__tour {
        grid-column-gap: 40px;
        margin-bottom: 50px;
    }
    .tours__tour:last-child {
        margin-bottom: 70px;
    }
    .tour__info {
        padding-right: 0;
    }
    .tour__title {
        margin-bottom: 20px;
    }
    .tour__text {
        margin-bottom: 20px;
    }
    .tour__info-left {
        padding-left: 0;
    }
    .tour__text-left {
        margin-bottom: 20px;
    }
    .topPlaces__cards {
        grid-column-gap: 15px;
        grid-row-gap: 40px;
    }
    .topPlaces__card-pic {
        margin-bottom: 20px;
    }
    .topPlaces__card-stat {
        padding: 15px 5px;
    }
    .topPlaces__card-likes {
        margin-right: 10px;
    }
    .footer {
        padding: 50px 0;
    }
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .header__wrapper {
        padding-top: 20px;
    }
    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #102746;
        z-index: 15;
        padding: 75px;
        transform: translateX(100%);
        transition: .5s all linear;
    }
    .header__nav-active {
        transform: translateX(0);
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 20;
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 36px;
        line-height: 42px;
    }
    .header__nav-clode-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
    }
    .header__nav-clode-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-clode-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .intro {
        padding-top: 150px;
        min-height: 80vh;
    }
    .intro__title {
        font-size: 36px;
        line-height: 48px;
    }
    .intro__subtitle {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .search-form__field {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: url(./image/svg/Oval.svg) no-repeat left 3px;
        padding-left: 35px;
    }
    .search-form__field::placeholder {
        font-size: 16px;
    }
    .search-form__submit {
        margin: 0 auto;
        margin-top: 50px;
    }
    .benefits__cards {
        grid-column: span 3;
    }
    .benefits__card {
        margin-bottom: 60px;
    }
    .section-title {
        margin-bottom: 15px;
    }
    .section-title::after {
        width: 78px;
    }
    .places {
        margin-bottom: 70px;
    }
    .places__caption {
        margin-bottom: 0;
    }
    .places__view-all {
        margin-bottom: 20px;
    }
    .places__card-bg,
    .places__card-sml {
        height: 280px;
    }
    .places__card-title {
        font-size: 26px;
        bottom: 0;
        left: 10px;
    }
    .topPlaces {
        margin-bottom: 70px;
    }
    .topPlaces__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .topPlace__card-text {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        padding: 100px 30px;
    }
    .intro {
        padding-bottom: 0;
    }
    .search-form {
        padding-bottom: 150px;
    }
    .benefits__title {
        padding: 40px 15px;
        font-size: 26px;
    }
    .benefits__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .benefits__card {
        margin-bottom: 50px;
    }
    .benefits__card-pic {
        margin-bottom: 15px;
    }
    .benefits__card-title {
        margin-bottom: 15px;
    }
    .benefits__card-desc {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .benefits__card-more {
        font-size: 14px;
    }
    .places {
        margin-bottom: 80px;
    }
    .section-title {
        font-size: 26px;
    }
    .section-title::after {
        width: 100px;
    }
    .places__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .places__card {
        height: 320px;
    }
    .places__card-title {
        font-size: 38px;
        bottom: 0;
        left: 10px;
    }
    .places__card-sml {
        grid-column: span 3;
    }
    .tours {
        margin-bottom: 0;
    }
    .tours__tour {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
        grid-column-gap: 0;
    }
    .tours__tour:last-child {
        margin-bottom: 60px;
    }
    .tour__pic,
    .tour__info {
        grid-column: span 2;
    }
    .tour__pic {
        margin-bottom: 10px;
    }
    .tour__pic-mobile {
        grid-row-start: -1;
    }
    .tour__title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .tour__text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .tour__link {
        font-size: 14px;
        padding-right: 50px;
    }
    .topPlaces {
        margin-bottom: 70px;
    }
    .topPlaces__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .topPlaces__card-mess {
        padding-right: 20px;
    }
    .topPlace__card-text {
        margin-bottom: 20px;
    }
    .topPlaces__img {
        width: 100%;
    }
    .footer {
        padding: 40px 0;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 15px;
    }
    .footer__nav {
        width: 100%;
    }
    .footer__menu-title {
        font-size: 14px;
        line-height: 18px;
    }
    .footer__menu-link {
        font-size: 12px;
        line-height: 16px;
    }
}